@media (max-width: 1200px){
    .navbar,.nav-list{
        flex-direction: column;
        transition: all 0.7s ease ;
    }
    .logo{
        width: 38%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #B9F754;
        font-weight: bolder;
        font-family: Bizmo-bold;
    }
    .rightNav{
        width: 18%;
    }
    .box-main{
        flex-direction: column-reverse;
        max-width: 100%;
        height: 70%;
    }
    .firstHalf {
        text-align: center;
        margin-top: 50px;
        width: 60%;
    }
    .firstHalf p{
        text-align: center;
        margin-top: 50px;
    }
    .buttons{
        margin-top: 90px;
    }
    .btn1{
        padding: 12px 19px;
    }
    a.btn2{
        font-size: 11px;
    }
    .secondHalf img{    
    margin-right: 143px;
    width: 480px;
    }
    .boorgir{
        display: block;
    }
    .h-nav-resp{
        height: 22px;
    }
    .v-class-resp{
        opacity: 0;
    }
}
@media only screen and (max-width:1140px){
    .navbar,.nav-list{
        flex-direction: column;
        transition: all 0.7s ease;
    }
    .navbar{
        height: 363px;
    }
    .logo {
        width: 48%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #B9F754;
        font-weight: bolder;
        font-family: Bizmo-bold;
    }
    .rightNav{
        width: 31%;
    }
    .box-main{
        flex-direction: column-reverse;
        max-width: 100%;
    }
    .firstSection {
        height: auto;
    }
    .firstHalf {
        text-align: center;
        margin-top: 50px;
    }
    .firstHalf p{
        text-align: center;
    }
    a.btn2{
        font-size: 11px;
    }
    .secondHalf img{
        width: 56vw;
        justify-content: center;
        margin-right: 26vw;
        border-radius: 50%;
    }
    .FAQs{
        margin-right: 25vw;
    }
    .tags {
        margin-top: 1vh;
        height: 6.8vh;
        margin-right: 13vh;
    }
    .tags h4{
        font-size: 1vw;
    }
    .boorgir{
        display: block;
    }
    .h-nav-resp{
        height: 22px;
    }
    .v-class-resp{
        opacity: 0;
    }
}
@media (max-width: 990px){
    .navbar,.nav-list{
        flex-direction: column;
        transition: all 0.7s ease ;
    }
    .logo{
        width: 38%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #B9F754;
        font-weight: bolder;
        font-family: Bizmo-bold;
    }
    .rightNav{
        width: 31%;
    }
    .box-main{
        flex-direction: column-reverse;
        max-width: 100%;
    }
    .firstHalf {
        text-align: center;
        margin-top: 50px;
        width: 60%;
    }
    .firstHalf p{
        text-align: center;
    }
    .buttons{
        margin-top: 5px;
    }
    a.btn2{
        font-size: 11px;
    }
    .secondHalf img{
        display: none;
    }
    .boorgir{
        display: block;
    }
    .h-nav-resp{
        height: 22px;
    }
    .v-class-resp{
        opacity: 0;
    }
}

@media (max-width: 800px){
    .navbar,.nav-list{
        flex-direction: column;
        transition: all 0.7s ease ;
    }
    .logo{
        width: 46%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #B9F754;
        font-weight: bolder;
        font-family: Bizmo-bold;
    }
    .rightNav{
        width: 31%;
    }
    .box-main{
        flex-direction: column-reverse;
        max-width: 100%;
    }
    .firstSection {
        height: auto;
    }
    .firstHalf {
        text-align: center;
        margin-top: 50px;
        width: 60%;
    }
    .heading{
        font-size: 55px;
        margin-top: 78px;
    }
    .firstHalf p{
        text-align: center;
    }
    .buttons{
        margin-top: 95px;
        margin-bottom: 35px;
    }
    a.btn2{
        font-size: 11px;
    }
    .secondHalf img{
        display: block;
    }
    .FAQs{
        margin-right: 24vw;
    }
    .boorgir{
        display: block;
    }
    .h-nav-resp{
        height: 22px;
    }
    .v-class-resp{
        opacity: 0;
    }
}
@media (max-width: 600px){
    .navbar,.nav-list{
        flex-direction: column;
        transition: all 0.7s ease ;
    }
    .logo{
        width: 71%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #B9F754;
        font-weight: bolder;
        font-family: Bizmo-bold;
    }
    .rightNav{
        width: 31%;
    }
    .box-main{
        flex-direction: column-reverse;
        max-width: 100%;
    }
    .firstHalf {
        text-align: center;
        margin-top: 50px;
        width: 60%;
    }
    .heading{
        font-size: 40px;
    }
    .firstHalf p{
        text-align: center;
    }
    .buttons{
        margin-top: 60px;
    }
    .btn1{
        font-size: 10px;
    }
    .secondHalf img{
        display: none;
    }
    .FAQs{
        margin-right: 25vw;
    }
    .boorgir{
        display: block;
    }
    .h-nav-resp{
        height: 22px;
    }
    .v-class-resp{
        opacity: 0;
    }
}

@media (max-width: 480px){
    .navbar,.nav-list{
        flex-direction: column;
        transition: all 0.7s ease ;
    }
    .logo{
        width: 87%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #B9F754;
        font-weight: bolder;
        font-family: Bizmo-bold;
    }
    .rightNav{
        width: 31%;
    }
    .box-main{
        flex-direction: column-reverse;
        max-width: 100%;
    }
    .firstHalf {
        text-align: center;
        margin-top: 50px;
        width: 60%;
    }
    .heading{
        font-size: 34px;
    }
    .firstHalf p{
        text-align: center;
    }
    .buttons{
        margin-top: 117px;
        margin-bottom: 30px;
    }
    .btn1{
        padding: 9px 5px;
    }
    a.btn2{
        padding: 9px 5px;
        font-size: 8px;
    }
    .FAQs{
        margin-right: 20vw;
    }
    .secondHalf img{
        display: none;
    }
    .boorgir{
        display: block;
    }
    .h-nav-resp{
        height: 22px;
    }
    .v-class-resp{
        opacity: 0;
    }
}
@media (max-width:360px) {
    .navbar,.nav-list{
        flex-direction: column;
        transition: all 0.7s ease ;
    }
    .logo{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #B9F754;
        font-weight: bolder;
        font-family: Bizmo-bold;
    }
    .rightNav{
        width: 31%;
    }
    .box-main{
        flex-direction: column-reverse;
        max-width: 100%;
    }
    .firstHalf {
        text-align: center;
        margin-top: 50px;
        width: 60%;
    }
    .heading{
        font-size: 30px;
    }
    .firstHalf p{
        text-align: center;
    }
    .buttons{
        margin-top: 52px;
        margin-bottom: 30px;
    }
    .btn1{
        font-size: 5px;
        padding: 9px 5px;
    }
    a.btn2{
        padding: 9px 5px;
        font-size: 9px;
    }
    .secondHalf img{
        display: none;
    }
    .FAQs{
        margin-right: 18vw;
    }
    .boorgir{
        display: block;
    }
    .h-nav-resp{
        height: 22px;
    }
    .v-class-resp{
        opacity: 0;
    }
}
