
@font-face {
    font-family: Bizmo-SemiBold;
    src: url("./fonts/Bizmo/Bizmo/OpenType-PS/Bizmo-SemiBold.otf") format("opentype");
}
@font-face {
    font-family: Bizmo-Medium;
    src: url("./fonts/Bizmo/Bizmo/OpenType-PS/Bizmo-Medium.otf") format("opentype");
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@100&display=swap');


@font-face{
    src: url(./fonts/Bizmo/Bizmo/OpenType-PS/Bizmo-Bold.otf);
    font-family: Bizmo-bold;
}    
@font-face{
    src: url(./fonts/Bizmo/Bizmo/OpenType-PS/Bizmo-Medium.otf);
    font-family: Bizmo-medium;
}    
@font-face{
    src: url(./fonts/Bizmo/Bizmo/OpenType-PS/Bizmo-Light.otf);
    font-family: Bizmo-light;
}    
@font-face{
    src: url(./fonts/Bizmo/Bizmo/OpenType-PS/Bizmo-LightOblique.otf);
    font-family: opensans-light;
}    
@font-face{
    src: url(./fonts/Bizmo/Bizmo/OpenType-PS/Bizmo-Regular.otf);
    font-family: Bizmo-regular;
}  
body{
    background-color: #070C0E;
}  
*{
    margin: 0;
    padding: 0;
    /* background-color: #070C0E; */
}    
.logo{
    width: 34%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #B9F754;
    font-weight: bolder;
    font-family: Bizmo-bold;
}    
.logo h3{
    width: 33%;
    font-size: 25px;
}    
.navbar{
    background-color: #070C0E;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
    margin-top: 15px;
    width: 100%;
    z-index: 2;
}    
.nav-list{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Bizmo-light;
}    
.nav-list li{
    list-style: none;
    padding: 26px 30px;

}    
.nav-list li a{
    text-decoration: none;
    color: #6A8185;
}    
.nav-list li a:hover{
    text-decoration: underline #B9F754;
    transition: ease 0.3s all;
}    
.rightNav{
    width: 30%;
    text-align: center;
}    
.rightNav button{
    border: 2px solid #B9F754;
    width: 120px;
    height: 55px;
    border-radius: 10px;
    background-color: #070C0E;
    color: #B9F754;
    font-family: Bizmo-light;
}    

.rightNav button:hover{
  border: 2px solid #B9F754;
  width: 120px;
  height: 55px;
  border-radius: 10px;
  background-color: #B9F754;
  color: #070C0E;
  font-family: Bizmo-light;
}    
.firstSection{
    height: 100vh;
}    
.box-main{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 85%;
    margin: auto;
    height: 80%;
    font-family: Binzo;
}    

.firstHalf{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 217px;
}    

.heading{
    margin-top: 25px;
    font-size: 65px;
    color: white;
    font-family: Bizmo-medium; 
}    
.heading span{
    color: #B9F754; 
}    
.firstHalf p{
    color: #6A8185;
    margin: 20px 0;
    font-family: opensans-light;
}    
.secondHalf img{
    width: 550px;
    justify-content: center;
    padding-left: 134px;
    margin-right: -100px;
}    
.buttons{
    margin-top: 55px;
}    
.btn1{
    padding: 12px 20px;
    color: #181818;
    background: transparent linear-gradient(90deg, #FFFFFF 0%, #95E70D 15%, #95E70D 48%, #95E70D 80%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
    border-radius: 12px;
    font-size: 12px;
    cursor: pointer;
    font-family: Bizmo-light;
}    
.btn1:hover{
    background: transparent;
    border: 2px solid #B9F754;
    color: #B9F754;
    transition: 0.3s ease all;
}    
a.btn2{
    background-color: #070C0E;
    color: #6A8185;
    font-size: 15px;
    text-decoration: none;
    padding-left: 35px;
    font-family: Bizmo-regular;
}    
a.btn2:hover{
    color: #B9F754;
    transition: 0.3s all ease;
}    

.boorgir{
    display: none;
    position: absolute;
    cursor: pointer;
    right: 8%;
    top: -7px;
}    
.line{
    width: 420%;
    background-color: #B9F754;
    height: 4px;
    margin: 5px 3px;
    border-radius: 5px;
}    


